.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.form-container h2 {
  color: #333; /* 제목 색상 */
  margin-bottom: 15px;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.image-container img {
  width: 90%; /* 이미지의 너비를 조정 */
  margin-bottom: 10px; /* 이미지 간 간격 */
  border-radius: 8px; /* 이미지 모서리 둥글게 */
}

.input-field {
  width: 90%; /* 입력 필드 너비 조정 */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: none;
}
.input-ptionBottom {
  margin-bottom: 40px;
}

.random-button {
  padding: 10px 20px;
  background-color: #4caf50; /* 진한 녹색 배경 */
  color: white; /* 흰색 텍스트 */
  font-size: 16px; /* 글자 크기 */
  border: none; /* 테두리 없음 */
  border-radius: 5px; /* 모서리 둥글게 */
  cursor: pointer; /* 마우스 오버 시 포인터 커서 */
  margin-bottom: 10px; /* 버튼 아래 여백 */
  transition: background-color 0.3s ease; /* 배경색 변경 애니메이션 */
}

.random-button:hover {
  background-color: #45a049; /* 호버 시 색상 변경 */
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff; /* 파란색 배경 */
  color: white; /* 흰색 글자 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  margin-top: 10px;
}

/* ---테스트--- */
.auto-test-button {
  background-color: #4caf50; /* 초록색 배경 */
  border: none; /* 테두리 제거 */
  color: white; /* 텍스트 색상 */
  padding: 15px 32px; /* 버튼 내부 패딩 */
  text-align: center; /* 텍스트 정렬 */
  text-decoration: none; /* 텍스트 장식 제거 */
  display: inline-block; /* 인라인 블록 요소로 설정 */
  font-size: 16px; /* 텍스트 크기 */
  margin: 10px 0; /* 버튼 위아래 마진 */
  cursor: pointer; /* 마우스 포인터 변경 */
  border-radius: 4px; /* 모서리를 둥글게 */
  transition: background-color 0.3s ease; /* 배경색 변환 애니메이션 */
}

.auto-test-button:hover {
  background-color: #45a049; /* 호버 시 배경색 조금 어둡게 */
}

.reset-button {
  background-color: #f44336; /* 빨간색 배경 */
  border: none; /* 테두리 제거 */
  color: white; /* 텍스트 색상 */
  padding: 15px 32px; /* 버튼 내부 패딩 */
  text-align: center; /* 텍스트 정렬 */
  text-decoration: none; /* 텍스트 장식 제거 */
  display: inline-block; /* 인라인 블록 요소로 설정 */
  font-size: 16px; /* 텍스트 크기 */
  margin: 10px 0; /* 버튼 위아래 마진 */
  cursor: pointer; /* 마우스 포인터 변경 */
  border-radius: 4px; /* 모서리를 둥글게 */
  transition: background-color 0.3s ease; /* 배경색 변환 애니메이션 */
}

.reset-button:hover {
  background-color: #d32f2f; /* 호버 시 배경색 조금 어둡게 */
}
